@model List<Urun>
@{
    ViewData["Title"] = "Index";
}

    <h2 class="text-center text-dark">Son 15 Gün İçinde Süresi Dolan Ürünler</h2>

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Domain Adı</th>
                    <th>Bayi</th>
                    <th>Müşteri Adı</th>
                    <th>Kalan Gün Sayısı</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DomainAdi</td>
                        <td>@item.BayiAdi</td>
                        <td>@item.Musteri.MusteriAdi</td>
                        <td>@item.Kalan</td>

                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Domain Adı</th>
                        <th>Bayi</th>
                        <th>Müşteri Adı</th>
                        <th>Kalan Gün Sayısı</th>

                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
   

