<!DOCTYPE html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            <img src="~/img/dcplogo.jpeg" alt="Logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UrunListele","Home")">Hosting Listesi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#myModal" data-toggle="modal" href="#myModal">Hosting Tanımla</a>
                </li>
            </ul>
        </div>
    </nav>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                @RenderBody()
            </div>

        </div><!-- /.blog-main -->
    </main>
    <footer class="page-footer font-small bg-info">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a style="color:white;" href="http://www.orionyazilim.com/"> orionyazilim.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">HOSTING TANIMLA</h4>
                </div>

                <div class="modal-body">
                    <form id="myForm" class="text-center border border-light p-5" action="/Home/Create" method="post">

                        <div class="form-row mb-4">
                            <div class="col">
                                <label class="float-left">Domain Adı:</label>
                                <input type="text" id="domainAdi" class="form-control" placeholder="Domain adı giriniz">
                            </div>
                            <div class="col">
                                <label class="float-left">Panel ve FTP Bilgileri</label>
                                <textarea type="text" id="panelVeFtp" class="form-control" placeholder="Panel ve FTP Bilgileri"></textarea>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <label class="float-left">Domain Başlangıç Tarihi:</label>
                                <input type="datetime" id="domainBaslangic" class="form-control" placeholder="Domain başlangıç tarihi giriniz">
              
                            </div>
                            <div class="col">
                                <label class="float-left">Hosting Başlangıç Tarihi:</label>
                                <input type="datetime" id="hostingBaslangic" class="form-control" placeholder="Hosting başlangıç tarihi giriniz">
         
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <label class="float-left">Domain Bitiş Tarihi:</label>
                                <input type="datetime" id="domainBitis" class="form-control" placeholder="Domain bitiş tarihi giriniz">
    
                            </div>
                            <div class="col">
                                <label class="float-left">Hosting Bitiş Tarihi:</label>
                                <input type="datetime" id="hostingBitis" class="form-control" placeholder="Hosting bitiş tarihi giriniz">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <label class="float-left">Müşteri Adı:</label>
                                <input type="text" id="musteri" class="form-control" placeholder="Müşteri Adı Giriniz">
                            </div>
                            <div class="col">
                                <label class="float-left">Bayi Adı:</label>
                                <input type="text" id="bayi" class="form-control" placeholder="Bayi Adı Giriniz">
                            </div>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="btnSave" class="btn btn-primary"><i class="far fa-envelope"></i> Kaydet</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        alert(data); // show response from the php script.
                    }
                });


            });
        });

    </script>
</body>
</html>